@import "/node_modules/reveal.js/dist/reveal.css";
@import "atom-one-dark.css";
@import "theme.css";

.reveal {
  pre {
    font-size: 0.26em;
  }

  article {
    text-align: start;
    width: fit-content;
    margin: auto;
  }

  output {
    position: absolute;
    right: 2.5%;
    bottom: 0;
    padding: 6px 12px;
    background-color: #fff;

    &:where(*) {
      font: initial;
      color: initial;
    }
  }
}

.ag-logo {
  vertical-align: middle;

  svg:nth-child(2) {
    position: relative;
    top: 5px;
  }
}
