@import "/node_modules/reveal.js/dist/reveal.css";
@import "atom-one-dark.css";
@import "theme.css";

.reveal pre {
  font-size: 0.26em;
}

.reveal svg {
  position: absolute;
  right: 2.5%;
  bottom: 0;
  background-color: #fff;
}
